* {
    padding: 0;
    margin: 0;
}

.blogs {
    background: url("../public/assets/blogs.jpg") no-repeat center ;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    padding: 2rem;
}



.head {
    color: white;
    padding-bottom: 2rem;
    /* text-align: center; */
}
.blogs{
    /* text-align: center; */
}

a {
    text-decoration: none;
    margin-bottom: 2rem;
    /* text-align: center; */
    color: white;
}

.inputbox {
    height: 16rem;
    width: 12rem;
}

.submit {
    font-size: larger;
}