* {
    margin: 0;
    padding: 0;
}

.data {
    background: url("../public/assets/contacts.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}